%% -*- mode: erlang -*-

[
 {yabot,
  [
   {clients, 
    [
     {irc, yabot_irc, 
      [
       {host, "chat.freenode.net"},
       {port, 6666},
       {chan, "#example"},
       {nick, "example-bot"},
       {pass, "secret"},
       {bridges, [jabber]}
      ]},
     {jabber, yabot_xmpp,
      [
       {jid, "bot@example.com"},
       {pass, "secret"},
       %% {method, digest} %% password, digest, "PLAIN", "ANONYMOUS", "DIGEST-MD5"
       {room, "chat@muc.example.com"},
       {nick, "example-bot"},
       {bridges, [irc]}
      ]}
    ]}
  ]}
].
