%% -*- mode: erlang -*-

[
 {yabot,
  [
   {clients, 
    [
     {irc, yabot_irc, 
      [
       {host, "chat.freenode.net"},
       {port, 6666},
       {chan, "#example"},
       {nick, "example-bot"},
       {pass, "secret"},
       {bridges, [jabber, bot]}
      ]},
     {jabber, yabot_xmpp,
      [
       {jid, "bot@example.com"},
       {pass, "secret"},
       %% {method, digest} %% password, digest, "PLAIN", "ANONYMOUS", "DIGEST-MD5"
       {room, "chat@muc.example.com"},
       {nick, "example-bot"},
       {bridges, [irc, bot]}
      ]},
     {bot, yabot_bot,
      [
       {nick, "example-bot"},
       {cmds, 
        [
         {exec, date, "date", 0, "date", "Get my system date."}
        ]},
       {filters, 
        [
         "cat", %% a NOP (or identity) filter, leaving the message as-is.
         "sed 's/.*/echo \\0/'"  %% prepend "echo " to all messages..
        ]}
       %% {bridges, []}
      ]}
    ]}
  ]}
].
